<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        [routerLink]="['/tasks', task.id]"
        [queryParams]="{'allowEdit': task.id === 3 ? 1 : 0}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let task of tasks">
        {{ task.title }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--a routerLink="tasks">Reload This Page</a-->
    <!-- <button class="btn btn-primary" (click)="reloadTasksPage()">Reload This Page</button>
    <app-edit-task></app-edit-task>
    <hr>
    <app-task></app-task> -->
    <router-outlet></router-outlet>
  </div>
</div>
