<div *ngIf="!allowEdit">
  Not allowed to edit this task !
</div>
<div *ngIf="allowEdit">
    <div class="form-group">
        <label for="name">Task Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          [(ngModel)]="taskTitle">
      </div>
      <div class="form-group">
        <label for="status">Task Status</label>
        <select
          id="status"
          class="form-control"
          [(ngModel)]="taskStatus">
          <option value="open">Open</option>
          <option value="in progress">In Progress</option>
          <option value="archived">Archived</option>
        </select>
      </div>
      <button
        class="btn btn-primary"
        (click)="onUpdateTask()">Update Task</button>
</div>