<h4>Welcome to Task Manager 4.0</h4>
<p>Manage your Tasks and Users.</p>

<button class="btn btn-primary" (click)="loadTasksPage()">Tasks</button>

<button class="btn btn-default" (click)="loadTask()">Load Task 1</button>
